/* styles.css */

/* hex codes
peach : #ffbf90
rgba(255, 191, 144, 0.8)

navy : #060644
rgba(6, 6, 68, 0.8)


lightblue : #add8e6 
rgba(255, 191, 144, 0.8)
*/

body {
    /* font-family: 'Parisienne', cursive; */
    font-family: 'Arial', sans-serif;
    letter-spacing: 0;
    background-color: #001F3F;
    /* background-image: url('../images/Wedding\ Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 31, 63, 0.936); 
    z-index: -1; */
/* } */



.frame {


    /* outline: 1px solid rgba(253, 169, 141, 0.8); */
    background-color: rgba(253, 169, 141, 0.8);
    width: 100vw;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}

.photo_quote {
    position: absolute;
    height: 100vh;
    width: inherit;
}
.photot_quote * {
    overflow: hidden;
}

form {
    align-self: center;
    width: 95%;
    
    
}

.form_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

}

a {
    color: white;
    text-decoration: none;
}

.landing {
    text-align: center;

}

#our_names {
    transform: rotate(-10deg);
    font-family: 'Great Vibes', cursive;
}
hr {
    color: #001F3F;
}
#rsvp_link {
    color:rgba(0, 31, 63, 0.936);

}

.photo_quote {
    position: relative;
    top: 0;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
}

.photo_quote::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/flowershirt.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -10%;
    filter: grayscale(1);
    z-index: 0; /* Ensure the pseudo-element is behind the content */
}
.photo_quote * {
    /* Styles for the content, including keeping it in color */
    filter: grayscale(0%);
    z-index: 1;
}


h2 {
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.text-body {
    width: 80%;
    margin: 1rem 0;
    
}

.text-body p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 1.5rem;

}

#rsvp_link {
    transition: all .25s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 2rem;

}
#rsvp_link:hover {
    color: #add8e6;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendee_container {
    width: 100%;
}

.input {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #add8e6; /* Adjust color as needed */
    color: #fff;
    border: 1px solid rgba(253, 169, 141, 0.8);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .25s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

button:hover {
    background-color: #001F3F;
}

.input:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
}

#num_attendees {
    width: 100%;
}


.attendee_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width : 100%;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

#submit {
    background-color: #001F3F;
    align-self: center;
    width: 100%;
    transition: all .25s;

}
#submit:hover{
    background-color: #add8e6;
}

@media only screen and (max-width: 900px) {
    body {
        width: 100vw;
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */
        overflow-y: scroll;
    }
    .frame {
        margin: 0;
        width: 100vw;
        padding: 0;
        position: relative;
        border: none;
        background-color: #f7f7f7;
        background-image: url('../images/invbackground.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 55%; 
        color: #001f3f;

    }
    a {
        color: #001F3F;
    }
    
   .landing-section {
    border-top: 1px solid #001F3F;
    padding: 1rem 0;
   }
   .landing-section img {
    width: 100%;
   }

    .photo_quote {
        height: 100vh;
        position: relative;
    }
    
    .photo_quote::before {
        background-position-x: 60%;
    }
    .photo_quote .landing-logo {
        position: absolute;
        bottom: 0;
    }
    
    .photo_quote * h2 {
        color: white;
        font-size: 5rem;
        font-family: 'Great Vibes', cursive;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
        margin: 0;
    }
    .text-body {
        margin: 0;

    }

    #our_names {
        transform: rotate(-10deg);
        font-family: 'Great Vibes', cursive;
    }
    hr {
        color: #001F3F;
    }
    #rsvp_link {
        color:rgba(0, 31, 63, 0.936);

    }

  }