/* styles.css */

/* hex codes
peach : #ffbf90
rgba(255, 191, 144, 0.8)

navy : #060644
rgba(6, 6, 68, 0.8)


lightblue : #add8e6 
rgba(255, 191, 144, 0.8)
*/

:root {
    scroll-behavior: smooth;
}

main {
    width: 100%;
}

body {
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    color: #001f3f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.frame {


    /* outline: 1px solid rgba(253, 169, 141, 0.8); */
    background-color: #f7f7f7;
    color: #001f3f;
    background-image: url('../images/invbackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 55%; 
    width: 100%;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    position: relative;
}




form {
    align-self: center;
    width: 95%;
    
    
}

.form_items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
}

label {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);

}

a {
    color: #001F3F;
    text-decoration: none;
}

.landing {
    text-align: center;

}

#our_names {
    transform: rotate(-10deg);
    font-family: 'Great Vibes', cursive;
}
hr {
    color: #001F3F;
}
#rsvp_link {
    color:rgba(0, 31, 63, 0.936);

}


h2 {
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
}

.text-body {
    width: 90%;
    margin: 1rem 0;
    
}

.text-body p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 1.5rem;

}

#rsvp_link {
    transition: all .25s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 2rem;

    color:rgba(0, 31, 63, 0.936);
}

#rsvp_link:hover, #registry {
    color: #add8e6;
}
h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    font-size: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attendee_container {
    width: 100%;
}

#timeline {
    margin-top: 1rem;
}

#text-body #timeline p  {
    font-size: 15px;
}



.input {
    margin-bottom: 15px;
    width: 100%;
}

label {
    display: block;
    font-size: 2rem;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #add8e6; /* Adjust color as needed */
    color: #fff;
    border: 1px solid rgba(253, 169, 141, 0.8);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .25s;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}

button:hover {
    background-color: #001F3F;
}

.input:nth-child(3) {
    width: 100%;
    display: flex;
    justify-content: center;
}

#num_attendees {
    width: 100%;
}


.attendee_input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width : 100%;
}

input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

#submit {
    background-color: #001F3F;
    align-self: center;
    width: 100%;
    transition: all .25s;

}
#submit:hover{
    background-color: #add8e6;
}

.landing-section {
    padding: 1rem 0;
   }


.photo_quote {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter: grayscale(1);
}


.photo_quote .landing-logo {
    position: absolute;
    bottom: 50px;
    
}

.photo_quote * h2 {
    color: white;
    font-size: 5rem;
    font-family: 'Tangerine', cursive;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .9);
    text-align: center;
}
#text-body {
    width: 50vw;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

#text-body .heading {
    margin-top: 1rem;
}

.landing-section {
    width: 300px;
}

.landing-section img {
    width: 300px;
}

#text-body .landing-section p {
    font-size: 1.5rem;
}



#our_names {
    transform: rotate(-10deg);
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
}
hr {
    color: #001F3F;
}


@media only screen and (max-width: 900px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        
        box-sizing: border-box;

    }
    .frame {
        margin: 0;
        width: 100%;
        padding: 0;
        position: relative;
        border: none;
        background-color: #f7f7f7;
        background-size: repeat;
        color: #001f3f;
        box-sizing: border-box;
        overflow: hidden;
    }
    a {
        color: #001F3F;
    }
    #text-body {
        width: 100vw;
    }
    
    
   .photo_quote {
        background-size: cover;
   }

   .landing-section img {
    width: 100%;
}

}